.boy{
    background-image: url('images/th.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  div#FAQs {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #1a1919;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

.resize {
    width: 400px;
    height: auto;
    }
    
    .resize {
    width: 300px;
    height: auto;
    }


.container {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;  
    height: 1000px;
    background: rgb(23, 150, 150);
}
