
div#money {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #1a1919;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}


#gallery-text{
    display:table;
}

#gallery-text-left, #gallery-text-right{
    display:table-row;
}

#gallery-text-left > p,
#gallery-text-right > p{
 display:table-cell;
}
div#task {
        background-color: black;
        box-sizing: border-box;
        padding:  30px 30px;
        margin-left: auto;


}